@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>LogOn</title>
</head>
<body>
    <div>
        <form method="post">
            <input type="text" name="secretcode" />
            <input type="submit" value="Submit" />
        </form>
        

    </div>
</body>
</html>
